<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>328731439135-mo9tatd9hnie50im04btresup6a49iku.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.328731439135-mo9tatd9hnie50im04btresup6a49iku</string>
	<key>API_KEY</key>
	<string>AIzaSyBQUJ3qHS7u85MoalLto6s0f81LAluLwvY</string>
	<key>GCM_SENDER_ID</key>
	<string>328731439135</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>zead.iMs</string>
	<key>PROJECT_ID</key>
	<string>ims-chat-3ef0f</string>
	<key>STORAGE_BUCKET</key>
	<string>ims-chat-3ef0f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:328731439135:ios:5316cd2d7a6bb851</string>
	<key>DATABASE_URL</key>
	<string>https://ims-chat-3ef0f.firebaseio.com</string>
</dict>
</plist>